<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sudoku Solver</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background: #0c0d53;">
        <div class="container-fluid"><a class="navbar-brand app-title" href="{{ url_for('index') }}"
                style="color: rgba(255,255,255,0.9);"><strong>Sudoku Solver</strong></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto" style="color: rgb(255,255,255);">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">Acerca
                        de</button>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <h4 class="my-4">Ingrese el Sudoku a solucionar</h4>

        <div class="grid my-4">
            <table>
                <tr>
                    <td><input id="cell-0" type="text"></td>
                    <td><input id="cell-1" type="text"></td>
                    <td class="br" ><input id="cell-2" type="text"></td>
                    <td><input id="cell-3" type="text"></td>
                    <td><input id="cell-4" type="text"></td>
                    <td class="br"><input id="cell-5" type="text"></td>
                    <td><input id="cell-6" type="text"></td>
                    <td><input id="cell-7" type="text"></td>
                    <td><input id="cell-8" type="text"></td>
                </tr>
                <tr>
                    <td><input id="cell-9" type="text"></td>
                    <td><input id="cell-10" type="text"></td>
                    <td class="br"><input id="cell-11" type="text"></td>
                    <td><input id="cell-12" type="text"></td>
                    <td><input id="cell-13" type="text"></td>
                    <td class="br"><input id="cell-14" type="text"></td>
                    <td><input id="cell-15" type="text"></td>
                    <td><input id="cell-16" type="text"></td>
                    <td><input id="cell-17" type="text"></td>
                </tr>
                <tr>
                    <td class="bb"><input id="cell-18" type="text"></td>
                    <td class="bb"><input id="cell-19" type="text"></td>
                    <td class="br bb"><input id="cell-20" type="text"></td>
                    <td class="bb"><input id="cell-21" type="text"></td>
                    <td class="bb"><input id="cell-22" type="text"></td>
                    <td class="br bb"><input id="cell-23" type="text"></td>
                    <td class="bb"><input id="cell-24" type="text"></td>
                    <td class="bb"><input id="cell-25" type="text"></td>
                    <td class="bb"><input id="cell-26" type="text"></td>
                </tr>
                <tr>
                    <td><input id="cell-27" type="text"></td>
                    <td><input id="cell-28" type="text"></td>
                    <td class="br"><input id="cell-29" type="text"></td>
                    <td><input id="cell-30" type="text"></td>
                    <td><input id="cell-31" type="text"></td>
                    <td class="br"><input id="cell-32" type="text"></td>
                    <td><input id="cell-33" type="text"></td>
                    <td><input id="cell-34" type="text"></td>
                    <td><input id="cell-35" type="text"></td>
                </tr>
                <tr>
                    <td><input id="cell-36" type="text"></td>
                    <td><input id="cell-37" type="text"></td>
                    <td class="br"><input id="cell-38" type="text"></td>
                    <td><input id="cell-39" type="text"></td>
                    <td><input id="cell-40" type="text"></td>
                    <td class="br"><input id="cell-41" type="text"></td>
                    <td><input id="cell-42" type="text"></td>
                    <td><input id="cell-43" type="text"></td>
                    <td><input id="cell-44" type="text"></td>
                </tr>
                <tr>
                    <td class="bb"><input id="cell-45" type="text"></td>
                    <td class="bb"><input id="cell-46" type="text"></td>
                    <td class="br bb"><input id="cell-47" type="text"></td>
                    <td class="bb"><input id="cell-48" type="text"></td>
                    <td class="bb"><input id="cell-49" type="text"></td>
                    <td class="br bb"><input id="cell-50" type="text"></td>
                    <td class="bb"><input id="cell-51" type="text"></td>
                    <td class="bb"><input id="cell-52" type="text"></td>
                    <td class="bb"><input id="cell-53" type="text"></td>
                </tr>
                <tr>
                    <td><input id="cell-54" type="text"></td>
                    <td><input id="cell-55" type="text"></td>
                    <td class="br"><input id="cell-56" type="text"></td>
                    <td><input id="cell-57" type="text"></td>
                    <td><input id="cell-58" type="text"></td>
                    <td class="br"><input id="cell-59" type="text"></td>
                    <td><input id="cell-60" type="text"></td>
                    <td><input id="cell-61" type="text"></td>
                    <td><input id="cell-62" type="text"></td>
                </tr>
                <tr>
                    <td><input id="cell-63" type="text"></td>
                    <td><input id="cell-64" type="text"></td>
                    <td class="br"><input id="cell-65" type="text"></td>
                    <td><input id="cell-66" type="text"></td>
                    <td><input id="cell-67" type="text"></td>
                    <td class="br"><input id="cell-68" type="text"></td>
                    <td><input id="cell-69" type="text"></td>
                    <td><input id="cell-70" type="text"></td>
                    <td><input id="cell-71" type="text"></td>
                </tr>
                <tr>
                    <td><input id="cell-72" type="text"></td>
                    <td><input id="cell-73" type="text"></td>
                    <td class="br"><input id="cell-74" type="text"></td>
                    <td><input id="cell-75" type="text"></td>
                    <td><input id="cell-76" type="text"></td>
                    <td class="br"><input id="cell-77" type="text"></td>
                    <td><input id="cell-78" type="text"></td>
                    <td><input id="cell-79" type="text"></td>
                    <td><input id="cell-80" type="text"></td>
                </tr>
            </table>
        </div>

        <button class="btn btn-success btn-lg mr-5">Resolver</button>
        <button class="btn btn-danger btn-lg ml-5">Limpiar</button>


    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/lib.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-5">
                        <h4>Ing. en Sistemas Computacionales</h4>
                        <h5>Inteligencia Artificial - Poyecto U3 -</h5>
                    </div>
                    <b>Integrantes</b>
                    <ul>
                        <li>Arteaga Alvarez Selene Elizabeth</li>
                        <li>Ceballos Vadillo José Andrés</li>
                        <li>Centeno Alcaraz Alejandra</li>
                        <li>Lobato Velazquez Owen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>